<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <section class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <section class="row d-flex justify-content-center">
            <!--Grid column-->
            <section class="col-auto">
              <p class="pt-2">
                <strong>Suscribete a nuestro boletin de proyectos con Angular</strong>
              </p>
            </section>
            <!--Grid column-->
            <section class="col-md-5 col-12">
              <!-- Email input -->
              <section class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" class="form-control" />
                <label class="form-label" for="form5Example2">Correo Electronico</label>
              </section>
            </section>
            <!--Grid column-->
            <section class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Suscribete
              </button>
            </section>   
          </section>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </section>
    <!-- Copyright -->
    <section class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://certus.edu.pe/">certus.edu.pe</a>
    </section>
  </footer>
