nav {
    background-color: rgb(247, 108, 108);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  a:hover {
    background-color: transparent;
  }


  